<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside") %>

  <div class="content-wrapper">
    <%- include('template/breadcrumb', {module: 'Agend details'}) %>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">            
            <div class="container">
              <table id="example1" class="table table-bordered table-striped text-center mt-4">
                <thead>
                  <tr class="bg-primary text-white">
                    <th scope="col">#ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Location</th>
                    <th scope="col">province</th>
                    <th scope="col">Address</th>
                  </tr>
                </thead>
                <tbody>
                  <% results.forEach ((agend) => { %>
                    <tr>
                      <th><%= agend.id %></th>
                      <th>
                          <img src="./../uploads/<%= agend.image %>" class="image img-circle elevation-2" width="70px" alt="Image User">
                      </th>
                      <th><%= agend.name %></th>
                      <th><%= agend.lastname %></th>
                      <th><%= agend.rol %></th>
                      <th><%= agend.phone %></th>
                      <th><%= agend.email %></th>
                      <th><%= agend.location %></th>
                      <th><%= agend.province %></th>
                      <th><%= agend.address %></th>
                    </tr>                              
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("template/alert") %>
    <%- include("template/footer") %>
  </div>
