<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside") %>

  <div class="content-wrapper">
    <%- include('template/breadcrumb', {module: 'Agend'}) %>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">            
            <div class="container">
              <a href="/createAgend" class="btn btn-primary mb-2"> <i class="fa-regular fa-square-plus"></i></a>
              <table id="example1" class="table table-bordered table-striped text-center mt-4">
                <thead>
                  <tr class="bg-primary text-white">
                    <th scope="col">#ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th> 
                  </tr>
                </thead>
                <tbody>
                  <% results.forEach ((agend) => { %>
                    <tr>
                      <th><%= agend.id %></th>
                      <th>
                          <img src="./../uploads/<%= agend.image %>" class="image img-circle elevation-2" width="70px" alt="Image User">
                      </th>
                      <th><%= agend.name %></th>
                      <th><%= agend.phone %></th>
                      <th><%= agend.email %></th>
                      <td>
                        <a href="/agendDetails/<%= agend.id %>" class="btn btn-warning "> <i class=" fa fa-eye"></i></a>
                        <a href="/editAgend/<%= agend.id %>" class="btn btn-info"> <i class="fa-regular fa-pen-to-square"></i></a>
                        <a href="/deletedAgend/<%= agend.id %>" onclick="confirmation(<%= agend.id %>);" class="btn btn-danger"> <i class="fa-regular fa-trash-can"></i></a>
                      </td>
                    </tr>                              
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("template/alert") %> <!-- sweetAlert2 -->
    <%- include("template/footer") %>
  </div>

