<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include('template/breadcrumb', {module: 'Create agend'}) %>

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">
           
            <div class="container">              
                <form action="/saveAgend" method="POST">
                    <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name" name="name" tabindex="3" autofocus>              
                    </div>

                    <div class="mb-3">
                      <label for="lastname" class="form-label">Last name</label>
                      <input type="text" class="form-control" id="lastname" name="lastname" tabindex="4" autofocus>              
                    </div>

                    <div class="mb-3">
                      <label for="rol" class="form-label">Rol</label>
                      <select id="rol" name="rol" class="form-select" tabindex="5">
                        <option value="Admin" selected>Admin</option>
                        <option value="Subscriber">Subscriber</option>
                      </select>
                    </div>

                    <div class="mb-3">
                      <label for="phone" class="form-label">Phone</label>
                      <input type="number" class="form-control" id="phone" name="phone" tabindex="6">
                    </div>

                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="text" class="form-control" id="email" name="email" tabindex="7">
                    </div>

                    <div class="mb-3">
                      <label for="location" class="form-label">Location</label>
                      <select id="location" name="location" class="form-select" tabindex="8">
                        <option value="Andalucia" selected>selected</option>
                        <option value="Sevilla">Sevilla</option><!-- sevilla prefefinido en bd -->
                        <option value="Huelva">Huelva</option>
                        <option value="Cadiz">Cadiz</option>
                        <option value="Granada">Granada</option>
                        <option value="Malaga">Malaga</option>
                        <option value="Jaen">Jaen</option>
                        <option value="Almeria">Almeria</option>
                      </select>
                    </div>

                    <div class="mb-3">
                      <label for="province" class="form-label">Province</label>
                      <input type="text" class="form-control" id="province" name="province" tabindex="9">
                    </div>

                    <div class="mb-3">
                      <label for="address" class="form-label">Address</label>
                      <input type="text" class="form-control" id="address" name="address" tabindex="10">
                    </div>

                    <button type="submit" class="btn btn-primary" tabindex="11">Submit</button>
                    <a href="/agends" class="btn btn-secondary">Cancel</a>
                  </form>            
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <%- include("template/alert") %> <!-- sweetAlert2 -->
    <%- include("template/footer") %>
  </div>
