<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include('template/breadcrumb', {module: 'Edit note'}) %>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">
            <% if (note) { %>
              <div class="container">                
                  <form action="/updateNote" method="POST">
                      <input hidden id="id" name="id" value="<%= note.id %>">
                      <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" value="<%= note.descripcion %>" tabindex="2" required>
                      </div>
                      <div class="mb-3">
                        <label for="date" class="form-label">Vencimiento</label>
                        <input type="date" class="form-control" id="date" name="date" value="<%= note.date %>" tabindex="3" required>
                      </div>
                      <button type="submit" class="btn btn-primary" tabindex="4">Submit</button>
                      <a href="/notes" class="btn btn-secondary">Cancel</a>
                    </form>
              </div>
          
              <% } %>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <%- include("template/alert") %> <!-- sweetAlert2 -->
    <%- include("template/footer") %>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 