<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include('template/breadcrumb', {module: 'Notes'}) %>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">            
            <div class="container">
              <a href="/createNote" class="btn btn-primary mt-4 mb-2"> <i class="fa-regular fa-square-plus"></i></a>
              <table id="example1" class="table table-bordered table-striped text-center mt-4">
                <thead>
                  <tr class="bg-primary text-white">
                    <th scope="col">#ID</th>
                    <th scope="col">Descripcion</th> 
                    <th scope="col">Entrega</th> <!-- crear asignar nota a persona-->
                    <th scope="col">Actions</th> <!-- crear asignar nota a persona-->
                  </tr>
                </thead>
                <tbody>
                  <% results.forEach ((note) => { %>
        
                    <tr>
                      <th><%= note.id %></th>
                      <th><%= note.descripcion %></th>
                      <th><%= note.date %></th>
                      <td>

                       <!--
                          <a href="/editNote/<%= note.id %>" onclick="confirmation(<%= note.id %>);" class="btn btn-danger"> <i class="fa-regular fa-trash-can"></i></a>  
                          <a href="/deletedNote/<%= note.id %>" onclick="confirmation(<%= note.id %>);" class="btn btn-danger"> <i class="fa-regular fa-trash-can"></i></a>              
                        -->

                        <a href="/editNote/<%= note.id %>" class="btn btn-info"> <i class="fa-regular fa-pen-to-square"></i></a>
                        <a onclick="confirmation(<%= note.id %>);" class="btn btn-danger"> <i class="fa-regular fa-trash-can"></i></a>              
                      </td>
                    </tr>                              
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <%- include("template/footer") %>