<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include('template/breadcrumb', {module: 'Tasks details'}) %>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">            
            <div class="container">
              <table id="example1" class="table table-bordered table-striped text-center mt-4">
                <thead>
                  <tr class="bg-primary text-white">
                    <th scope="col">#ID</th>
                    <th scope="col">Title</th> 
                    <th scope="col">Description</th> 
                    <th scope="col">Summary</th> 
                    <th scope="col">Asignated</th> 
                    <th scope="col">Vencimiento</th> 
                    <th scope="col">Estate</th> 
                    <th scope="col">Acciones</th> 
                  </tr>
                </thead>
                <tbody>
                  <% results.forEach ((task) => { %>
        
                    <tr>
                      <th><%= task.id %></th>
                      <th><%= task.titulo%></th>
                      <th><%= task.descripcion%></th>
                      <th><%= task.sumario %></th>
                      <th><%= task.asignada %></th>
                      <th><%= task.vencimiento %></th>
                      <th><%= task.estado %></th>
                      <td>
                        <!--
                        <a href="//<%= task.id %>" onclick="confirmationAsigned(<%= task.asignada %>);" class="btn btn-success"> <i class="fa-regular fa fa-paper-plane"></i></a> 
                        <a href="//<%= task.id %>" onclick="confirmationTerminatedTask(<%= task.estado %>);" class="btn btn-primary"> <i class="fa fa-hourglass-end"></i></a> 
                        -->
                        <a onclick="confirmationAsigned(<%= task.asignada %>);" class="btn btn-success"> <i class="fa-regular fa fa-paper-plane"></i></a> 
                        <a onclick="confirmationTerminatedTask(<%= task.estado %>);" class="btn btn-primary"> <i class="fa fa-hourglass-end"></i></a> 
                      </td>
                    </tr>                              
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <%- include("template/footer") %>