<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include('template/breadcrumb', {module: 'Tasks'}) %>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">            
            <div class="container">
              <a href="/createTask" class="btn btn-primary mt-4 mb-2"> <i class="fa-regular fa-square-plus"></i></a>
              <table id="example1" class="table table-bordered table-striped text-center mt-4">
                <thead>
                  <tr class="bg-primary text-white">
                    <th scope="col">#ID</th>
                    <th scope="col">Titulo</th> 
                    <th scope="col">Vencimiento</th> 
                    <!-- mostrar si esta asignada la tare WERE id = ?'-->
                    <th scope="col">Acciones</th> 
                  </tr>
                </thead>
                <tbody>
                  <% results.forEach ((task) => { %>
        
                    <tr>
                      <th><%= task.id %></th>
                      <th><%= task.titulo%></th>
                      <th><%= task.vencimiento %></th>
                      <!-- mostrar si esta asignada la tare WERE id = ?'-->
                      <td>
                        <a href="/taskDetails/<%= task.id %>" class="btn btn-warning "> <i class="fa fa-eye"></i></a>
                        <a href="/editTask/<%= task.id %>" class="btn btn-info"> <i class="fa-regular fa-pen-to-square"></i></a>
                        <a href="/assingTask/<%= task.id %>"class="btn btn-secondary"> <i class="fa fa-paper-plane"></i></a> 
                        <a href="/completedTask/<%= task.id %>" onclick="confirmation_TerminatedTask(<%= task.id %>);" class="btn btn-primary"> <i class="fa fa-hourglass-end"></i></a> 
                        <a href="/deleteTask/<%= task.id %>" onclick="confirmation(<%= task.id %>);" class="btn btn-danger"> <i class="fa-regular fa-trash-can"></i></a> 
                      </td>
                    </tr>                              
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("template/alert") %> <!-- sweetAlert2 -->
    <%- include("template/footer") %>
  </div>
  